.app-parent {
    border: 5px solid green;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.app-parent && .graph-parent {
    /* height: 50%; */
        border: 2px dashed yellow;
    }